.icon-22AiRD-a{
    fill:white;
}
.icon-22AiRD{
    fill:rgb(185,187,190)
}
.icon-22AiRD:hover{
    fill:white
}
.uppointer-na{
    display:none
}

.ico-nav-div:hover .uppointer-na{
    display: block;
}
.ico-input{
    fill:rgb(185,187,190)
}
.ico-input:hover{
    fill:#dcddde
}
.ico-input-emoji{
    font-size: 1.3rem;
}
.offline-div{
    opacity: 0.3;
    border-radius: 5px;
}
.offline-div:hover,.online-div:hover{
    background-color: rgba(79, 84, 92, 0.32);
    opacity: 1;
}
.online-div{
    opacity: 1;
    border-radius: 5px;
}
.chat-item-div:hover{
    background-color: rgba(0,0,0,0.2);
}
.chat-options{
    visibility: hidden;
    
    
}
.chat-options:hover{
    box-shadow: 0px 35px 62px -21px rgba(0,0,0,0.75);

}
.chat-item-div:hover .chat-options{
   visibility: visible;
}
.uppointer-op{
    display: none;
}

.option:hover{
    background-color: rgba(255, 255, 255, 0.05);
}

.option:hover .uppointer-op{
    display: block;
}
.uppointer-gift{
    display: none;
}
.gift:hover .uppointer-gift{
    display: block;
}
